@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.heroContent .row {
  margin-right: 0px !important;

}
.navbar-brand{
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  font-size: 1.5rem;
}
.signUp{
  background: rgb(207, 183, 252);
  border-radius: 2rem;
  font-weight: bold;
  height: 3rem;
}
.navbar-nav li{
 /* padding: 0 10px !important; */
 margin: 0 5px !important;
 /* margin-left: 5px !important;
 margin-right: 5px !important; */
 font-weight: bold;
}
.hero_section{
 margin-top:10rem ;
}
.hero_section h1:nth-child(1){
  font-size: 6rem;
  font-family: 'Hind Siliguri', sans-serif;

}
.hero_section h1:nth-child(2){
  font-size: 3rem;
  font-family:sans-serif;
  letter-spacing: 0.7rem;
  color: rgb(216, 184, 4);
}
.hero_section p{
  font-size: 1.3rem;
 color: gray;
 padding-top: 2rem;
}
.LEARN-BTN{
  margin-top: 8rem !important;
  background: rgb(207, 183, 252);
  border-radius: 2rem;
  font-weight: bold;
  height: 3.2rem;
  color: #fff;
}

.main_img{
  margin-top: 8rem !important;
  max-width: 45rem;
}

@media screen and (max-width:998px) {
.navbar-collapse{
  text-align: center;
}

.signUp{
 margin: 0 auto;
}
}
@media screen and (max-width:768px) {
  html{
    font-size: 62.5%;
  }
  .main_img{
    margin-top: 5rem !important;
    max-width: 40rem;
    
  }
  


}
@media screen and (max-width:576px) {
  html{
    font-size: 52.5%;
  }
   
}